{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="main-content">
        <h2>{{ student_name }}'s Profile</h2>

        <div class="field-pair">
            <label for="username">Username:</label>
            <label for="email">Email:</label>
        </div>
        <div class="field-pair">
            <p id="username">{{ username }}</p>
            <p id="email">{{ email }}</p>
        </div>

        <div class="field-pair">
            <label for="first_name">First Name:</label>
            <label for="last_name">Last Name:</label>
        </div>
        <div class="field-pair">
            <p id="first_name">{{ first_name }}</p>
            <p id="last_name">{{ last_name }}</p>
        </div>

        <div class="field-pair">
            <label for="phone">Phone:</label>
        </div>
        <div class="field-pair">
            <p id="phone">{{ phone }}</p>
        </div>

        <div class="field-group">
            <label for="address">Address:</label>
            <label for="city">City:</label>
            <label for="state">State:</label>
        </div>
        <div class="field-group">
            <p id="address">{{ address }}</p>
            <p id="city">{{ city }}</p>
            <p id="state">{{ state }}</p>
        </div>

        <div class="field-pair">
            <label for="zip_code">Zip Code:</label>
        </div>
        <div class="field-pair">
            <p id="zip_code">{{ zip_code }}</p>
        </div>

        <button onclick="window.location.href='/change_password';">Change Password</button>
    </div>
{% endblock %}
